<div id="form_user_join_service">
	<%= form_for(@service_user) %>		
		<%= f.label :user_position, t(:form_add_user_to_service_doc) %>
		<%= f.select :user_position, UserType.available_types %>
		
		<div class="service_user_user_id">
			<%= f.submit t(:form_user_join_service) %>
		</div>
	<% end %>
</div>